<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.iocoder.yudao.module.infra.dal.mysql.logger.ApiAccessLogMapper">

    <delete id="deleteByCreateTimeLt">
        DELETE FROM infra_api_access_log
        WHERE create_time &lt; #{createTime}
        LIMIT #{limit}
    </delete>

</mapper>
