<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.iocoder.yudao.module.product.dal.mysql.publication.ProductPublicationSpuExtMapper">

    <insert id="upsert">
        INSERT INTO product_publication_spu_ext (
            spu_id, publisher_id, publication_type_id, issue_cycle, issn, cn_code, post_distribution_code,
            fulfillment_mode, deleted
        )
        VALUES (
            #{ext.spuId}, #{ext.publisherId}, #{ext.publicationTypeId}, #{ext.issueCycle}, #{ext.issn},
            #{ext.cnCode}, #{ext.postDistributionCode}, #{ext.fulfillmentMode}, b'0'
        )
        ON DUPLICATE KEY UPDATE
            publisher_id = VALUES(publisher_id),
            publication_type_id = VALUES(publication_type_id),
            issue_cycle = VALUES(issue_cycle),
            issn = VALUES(issn),
            cn_code = VALUES(cn_code),
            post_distribution_code = VALUES(post_distribution_code),
            fulfillment_mode = VALUES(fulfillment_mode),
            deleted = b'0',
            update_time = NOW()
    </insert>

    <delete id="deleteBySpuIdPhysically">
        DELETE FROM product_publication_spu_ext
        WHERE spu_id = #{spuId}
    </delete>

</mapper>
